<div class="panel panel-default">
    <div class="panel-heading">
        <h6 class="panel-title"><i class="icon-table"></i>@ABM.Resources.vi_VN.M_Group_Panel_Title</h6>
        <span class="pull-right label label-danger"></span>
    </div>    
    <div class="dataTables_wrapper">
        <div class="datatable-header">
            <div class="DTTT_container">                                
                <a onclick="system.group.manipulate(systemConfig.action.create, 0);" data-toggle="modal" class="btn btn-default" role="button">
                    <i class="icon-plus-circle"></i> @ABM.Resources.vi_VN.Btn_Create
                </a>
            </div>

            <div class="dataTables_filter">
                <label>
                    <span>@ABM.Resources.vi_VN.L_Search:</span>
                    <input id="txtSearch" type="search" class="" placeholder="@ABM.Resources.vi_VN.L_TypeToFilter" />
                    <input id="ddlGroupStatus" type="hidden"/>                
                </label>
            </div>

            <div class="dataTables_length">
                <label>
                    <span>@ABM.Resources.vi_VN.L_PageNumber:</span>                                
                    <input id="ddlPageSize" type="hidden"/>        
                </label>
            </div>
        </div>
        <div class="datatable-scroll">
            <table class="table dataTable">
                <thead>
                    <tr role="row">
                        <th class="w45 aligncenter">@ABM.Resources.vi_VN.Table_Col_RowNumber</th>
                        <th>@ABM.Resources.vi_VN.M_Group_Table_Col_Name</th>
                        <th>@ABM.Resources.vi_VN.M_Group_Table_Col_Desc</th>				        
                        <th class="w100">@ABM.Resources.vi_VN.Table_Col_Action</th>
                    </tr>
                </thead>                    
                <tbody>                        
                    <tr class="odd">
                        <td valign="top" colspan="4" class="dataTables_empty">@ABM.Resources.vi_VN.Loading <img src="/images/loaders/loader5.gif" alt="" /></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="datatable-footer">
            <div class="dataTables_info"></div>
            <div class="dataTables_paginate paging_full_numbers">
                <ul class="pagination"></ul>
            </div>
        </div>
    </div>
</div>


<input id="hfCurrentPageIndex"  type="hidden"/>
<input id="hfGroupPermission"   type="hidden"/>
<input id="hfUserInGroup"       type="hidden"/>


<script type="text/javascript">
    $(function() {
        system.group.init();
    });
</script>