<!-- Page tabs -->
<div class="tabbable page-tabs">
    <!-- Product tab -->
    <div class="tab-pane active fade in" id="chuyen-muc">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h6 class="panel-title"><i class="icon-table"></i>@ABM.Resources.vi_VN.M_Product_Panel_Title</h6>
                <span class="pull-right label label-danger"></span>
            </div>
            <div class="dataTables_wrapper">
                <div class="datatable-header">
                    <div class="dataTables_filter">
                        <label>
                            <span>@ABM.Resources.vi_VN.L_Search:</span>
                            <input id="txtSearchProduct" type="search" placeholder="@ABM.Resources.vi_VN.L_TypeToFilter" />
                            <input id="ddlSearchCategory" type="hidden" />
                            <input id="ddlProductStatus" type="hidden" />
                        </label>
                    </div>                    
                    <div class="dataTables_length">
                        <label>
                            <span>@ABM.Resources.vi_VN.L_PageNumber:</span>
                            <input id="ddlPageSize" type="hidden" />
                        </label>
                    </div>
                </div>
                <div class="datatable-scroll">
                    <table class="table dataTable">
                        <thead>
                            <tr role="row">
                                <th class="w45 aligncenter">@ABM.Resources.vi_VN.Table_Col_RowNumber</th>
                                <th></th>                                
                                <th>@ABM.Resources.vi_VN.M_Product_Table_Col_Code</th>
                                <th>@ABM.Resources.vi_VN.M_Product_Table_Col_Name</th>
                                <th>@ABM.Resources.vi_VN.M_Product_Table_Col_Category</th>
                                <th class="alignright">@ABM.Resources.vi_VN.M_Product_Table_Col_NET_Price</th>
                                <th class="alignright">@ABM.Resources.vi_VN.M_Product_Table_Col_VAT_Price</th>
                                <th class="alignright">@ABM.Resources.vi_VN.M_Product_Table_Col_NET_Price_NPP</th>
                                <th class="alignright">@ABM.Resources.vi_VN.M_Product_Table_Col_VAT_Price_NPP</th>                                                                
                                <th class="w100">@ABM.Resources.vi_VN.Table_Col_Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td valign="top" colspan="10" class="dataTables_empty">@ABM.Resources.vi_VN.Loading <img src="/images/loaders/loader5.gif" alt="" /></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="datatable-footer">
                    <div class="dataTables_info"></div>
                    <div class="dataTables_paginate paging_full_numbers">
                        <ul class="pagination"></ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /article tab -->
</div>
<!-- page tabs -->

<input id="hfCurrentPageIndex" type="hidden" />

<script type="text/javascript">
    $(function () {
        system.product.init();
    });
</script>